.myBarHtml {
    width: 0;
    height: 25px;
    background-color: #213A60;
    border-radius: 50px;
    animation: myBarHtml 2s normal forwards;
    animation-delay: 0.6s;
}

@keyframes myBarHtml{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.myBarCSS {
    width: 0;
    height: 25px;
    background-color: #213A60;
    border-radius: 50px;
    animation: myBarCSS 2s normal forwards;
    animation-delay: 1.1s;
}

@keyframes myBarCSS{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}

.myBarJs {
    width: 0;
    height: 25px;
    background-color: #213A60;
    border-radius: 50px;
    animation: myBarJs 2s normal forwards;
    animation-delay: 1.6s;
}

@keyframes myBarJs{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}

.myBarReact {
    width: 0;
    height: 25px;
    background-color: #213A60;
    border-radius: 50px;
    animation: myBarReact 2s normal forwards;
    animation-delay: 2.1s;
}

@keyframes myBarReact{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.myBarJava {
    width: 0;
    height: 25px;
    background-color: #213A60;
    border-radius: 50px;
    animation: myBarJava 2s normal forwards;
    animation-delay: 2.6s;
}

@keyframes myBarJava{
    0%{
        width: 0%;
    }
    100%{
        width: 10%;
    }
}

.myBarPython {
    width: 0;
    height: 25px;
    background-color: #213A60;
    border-radius: 50px;
    animation: myBarPython 2s normal forwards;
    animation-delay: 3.1s;
}

@keyframes myBarPython{
    0%{
        width: 0%;
    }
    100%{
        width: 10%;
    }
}

.myBarCSharp {
    width: 0;
    height: 25px;
    background-color: #213A60;
    border-radius: 50px;
    animation: myBarCSharp 2s normal forwards;
    animation-delay: 3.6s;
}

@keyframes myBarCSharp{
    0%{
        width: 0%;
    }
    100%{
        width: 35%;
    }
}