*{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.banner{
  position: absolute;
  height: 100vh;
  width: 99.1vw;
  margin: 0;
  padding: 0;
  background: url("../img/coworkers-blur.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: aliceblue;
  font-size: 90px;
}

.banner-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* RÖR EJ OPACITY!!!!!!! */
  opacity: 96%;
}

.banner-text {
  text-align: center;
  background-color: hsla(240, 1%, 30%, 0.801);
  padding: 80px 40px 80px 40px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

.banner-text p {
  color: aliceblue;
  font-size: 30px;
}

.icon {
  font-size: 60px;
  margin-top: 40px;
  align-items: center;
  color: hsla(240, 1%, 30%, 0.801);
  border: 5px solid hsla(240, 1%, 30%, 0.801);
  border-radius: 100px;
  padding: 2px 20px 6px 20px;
}

.icon:hover {
  color: #818181;
  border: 5px solid #818181;
}