*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
    padding: 0;
    background: url("../img/yagwah.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
  margin-top: 45vh;
  margin-bottom: 44vh;
  color: aliceblue;
}

section {
  background-color: white;
  padding-top: 500px;
}