*{
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/home-fig.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: aliceblue;
  font-size: 90px;
}

.banner-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* RÖR EJ OPACITY!!!!!!! */
  opacity: 96%;
}

.banner-text {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
}

.banner-text p {
  color: aliceblue;
  font-size: 30px;
}

.icon {
  font-size: 60px;
  margin-top: 40px;
  align-items: center;
  color: aliceblue;
  border: 5px solid aliceblue;
  border-radius: 100px;
  padding: 6px 20px 6px 20px;
  transition: ease-in-out 0.2s;
}

.icon:hover {
  color: #2CA5A5;
  border: 5px solid #2CA5A5;
  transform: scale(1.04);
}