/*Whole header/Nav container*/
nav{
  width: 100%;
  height: 7vh;
  background-color: #4C4C4D;
  text-align: center;
  display: flex;
  align-items: center;
}
/*Setting style of list*/
.header-navbar ul{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.nav-li a{
  text-decoration: none;
  color: inherit;
}

/*Header Nav Items*/
.header-logo{
  height: auto;
  width: 60px;
}
.nav-devs-span{
  color: white;
}