/*Whole header/Nav container*/

/*Setting style of list*/
.header-navbar {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 7vh;
  background-color: #4C4C4D;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo-container {
  text-decoration: none;
  color: inherit;
  padding-left: 15px !important;
}

/*Header Nav Items*/
.header-logo{
  height: auto;
  width: 60px;
}

.header-devs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.nav-devs-span{
  color: white;
  font-size: 1.25em;
}

.toggler{
  position: absolute;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
}

.header-devs-container .burger-menu {
  z-index: 5;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0.5rem;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hamburger Line */
.header-devs-container .burger-menu > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* Hamburger Lines - Top & Bottom */
.header-devs-container .burger-menu > div::before,
.header-devs-container .burger-menu > div::after {
  content: '';
  position: absolute;
  top: -6px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Moves Line Down */
.header-devs-container .burger-menu > div::after {
  top: 6px;
}

/* Turns Lines Into X */
.header-devs-container .toggler:checked ~ .burger-menu > div:before,
.header-devs-container .toggler:checked ~ .burger-menu > div:after {
  top: 0;
  transform: rotate(90deg);
}
.header-devs-container .toggler:checked ~ .burger-menu > div{
  transform: rotate(225deg);
}

/* Rotate On Hover When Checked */
.header-devs-container .toggler:checked:hover ~ .burger-menu > div {
  transform: rotate(225deg);
}

.header-devs-container .toggler:checked ~ .navbar-dropdown {
  visibility:visible;
}

.header-devs-container .toggler:checked ~ .navbar-dropdown > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.header-devs-container .toggler:checked ~ .navbar-dropdown > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.header-devs-container .navbar-dropdown {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-devs-container .navbar-dropdown > div {
  background: #4C4C4D;
  height: auto;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: translateY(-320px);
  transition: all 0.5s ease;
}

.header-devs-container .navbar-dropdown > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.header-devs-container .navbar-dropdown > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
.header-devs-container .navbar-dropdown > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.dev-link{
  display: inline-block;
}
.dev-link:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width .4s ease-in-out;
}

.dev-link:hover:after {
  width: 100%;
}
