header{
  width: 100%;
  height: 10vh;
  background-color: grey;
  text-align: center;
  display: flex;
  justify-content: center;
}
/*Setting style of list*/
.header-navbar ul{
  display: flex;
  list-style: none;
}
.nav-li a{
  text-decoration: none;
  color: inherit;
}

.nav-li-icon{
  position: absolute;
  left: 0;
}
.nav-li-devs{
  position: absolute;
  right: 0;

}

.nav-item-span{}