section {
    background: rgb(245, 245, 245) !important;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}
  
h2 {
    font-size: 72px;
    text-align: center;
}
  
hr {
    margin: 10px;
    border-bottom: 5px solid #213A60;
    border-radius: 20px;
    width: 15%;
    align-self: center;
}

.cardProfile {
    background: rgb(255, 255, 255) !important;
    border-radius: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 80%;
    height: 500px;
    box-shadow: 8px 8px #213A60;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    transition: ease-in-out 0.3s;
}

.cardProfile:hover {
    transform: scale(1.04);
    box-shadow: 15px 15px #213A60;
}

.cardProfile img {
    margin: 0px 100px 0px 100px;
    border-radius: 100%;
}

.cardText {
    width: 50%;
}

.cardText h3 {
    font-size: 50px;
}

.icons i {
    margin: 10px;
}