.backgroundWhite {
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 100px;
}

.container img{
    width: 370px !important;
    height: 370px !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.textStyle {
    background-color: white;
    color: black;
}

.picture {
    border-radius: 500px;
}

.icons {
    display: flex;
    flex-direction: start;
}

.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: rgb(14, 12, 12);
    border-radius: 100px;
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.2s;
    margin-right: 16px;
}

.iconContainer:hover {
    transform: scale(1.15);
}

.iconLogo {
    color: white;
}

.text {
    padding: 24px 0px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
}

.hrStyle {
    margin: 10px;
    border-bottom: 5px solid #213A60;
    border-radius: 20px;
    width: 80%;
    display: flex;
    align-self: center;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 10% !important;
}

.textMail {
    color: grey;
}